.button-container {
	margin: 20px;
	text-align: center;
	border: 1px solid #EFEFEF;
	box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.10);
	background-color:#EFEFEF;
	
	button {
		background-color: none;
		border: none;
		height: 150px;
		color: white;
		font-size: 100px;
	};
};