.dropdown-container {
	display: flex;
	flex-direction: column;
	background-color: white;

	a {
		border-top: none;
		border: 1px solid #EFEFEF;
		color: #696969;
		cursor: pointer;
		padding: 18px 100px 18px 18px;
		text-decoration: none;
	}
}