<div class="hamburger-container">
	<button id="menubutton1" aria-haspopup="true" aria-expanded="false" aria-controls="menu1" class="hamburger" (click)="toggleMenu()" (keyup.Esc)="toggleMenu()"><img  class="hamburger-icon" src="assets/images/hamburger.svg"></button>
	<div [ngClass]="isOpen ? 'dropdown-container' : 'dropdown-container__hidden'">
		<ul id="menu1" role="menu" tabindex="-1" aria-labelledby="menubutton1" aria-activedescendant="mi1">
			<li id="mi1" role="menuitem"><a (click)="toggleMenu()" routerLink="/recipes">Recepten</a></li>
			<li id="mi2" role="menuitem"><a (click)="toggleMenu()" routerLink="/planner">Planner</a></li>
		</ul>
		<div (click)="toggleMenu()" class="backdrop"></div>
	</div>
</div>
