.button-container {
  background-color: #efefef;
  border: 1px solid #efefef;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  margin: 20px;
  text-align: center;

  button {
    background-color: none;
    border: none;
    color: white;
    font-size: 100px;
    height: 150px;
  }
}

.cards-wrapper {
  display: flex;
  flex-direction: column;
  width: 70vw;
}

.planner-container {
  display: flex;
}

.title-recipe {
  font-weight: 400;
}
