<div class="planner-container">
  <div class="cards-wrapper">
    <app-card
      *ngFor="let meal of plannedMeals"
      [id]="meal.id"
      [size]="meal.size"
      [img]="meal.img"
      [name]="meal.name"
      (delete)="onDelete(meal.id)"
    >
      {{ meal.name }}
    </app-card>
    <div class="button-container" (click)="addMeal()"><button>+</button></div>
  </div>
  <app-aside>
    <h1 class="title-recipe">Name of recipe</h1>
    <app-grocery-list></app-grocery-list>
  </app-aside>
</div>
