.card-container {
	margin: 20px;
	display: flex;
	flex-direction: row;
	align-items: center;
	border: 1px solid #EFEFEF;
	box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.10);
	background-color: #EFEFEF;

		.wrapper {
			display: flex;
			align-items: center;
			padding: 10px;

			.name {
				font-weight: 400;
				font-size: 25px;
			};
		};
		
		.size {
			margin-left: auto;
			margin-right: 0;
			font-weight: 400;
			font-size: 80px;
			margin-top: 0;
			margin-bottom: 0;
			padding: 10px;
			color: white;
		}
	
.delete-button {
	color: red;
	font-size: 40px;
	background-color: transparent;
	border: none;
	margin: 0px 10px;
	position: absolute;
};

img {
	object-fit: cover;
	height: 150px;
	width: 150px;
};

@media (min-width: 1080px) {
	flex-direction: column;

	img {
		height: 250px;
		width: 600px;
	};
};
};

.button-container {
	margin: 20px;
	text-align: center;
	border: 1px solid #EFEFEF;
	box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.10);
	background-color:#EFEFEF;
	
	button {
		background-color: none;
		border: none;
		height: 150px;
		color: white;
		font-size: 100px;
	};
};