.card-container {
  align-items: center;
  background-color: #efefef;
  border: 1px solid #efefef;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  margin: 20px;
  max-height: 150px;

  .size {
    color: white;
    font-size: 60px;
    font-weight: 400;
    margin-left: auto;
  }

  .name-wrapper {
    align-items: center;
    display: flex;
    padding: 20px;

    .name {
      font-size: 28px;
      font-weight: 400;
    }
  }

  .delete-button {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    margin: 10px;

    .delete-icon {
      fill: #696969;
      height: 30px;

      &:hover {
        fill: black;
      }
    }
  }

  img {
    height: 150px;
    object-fit: cover;
    width: 150px;
  }
}
