/* You can add global styles to this file, and also import other style files */
$tablet: 768px;

body {
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	color: #696969;
};